@keyframes opacity-fade-0-75 {
  0%,
  100% {
    opacity: 0.75;
  }
  50% {
    opacity: 0;
  }
}

@keyframes opacity-fade-025-075 {
  0%,
  100% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
}

@keyframes opacity-fade-0-05 {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
  }

@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes side-bar-smooth-visible-transition {
  50% {
    opacity: 0;
  }
}

@keyframes animeFill {
  to {
    fill: rgba(77, 124, 255, 0.642);
  }
}
