
* {
    font-family: system-ui, sans-serif !important;
}

.font-lg {
    font: 32px/48px "Noto Sans", sans-serif;
}

.font-md {
    font: 24px/40px "Noto Sans", sans-serif;
}

.font-sm {
    font: 16px/24px "Noto Sans", sans-serif;
}