.chat-container {
  margin: 24px auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-container li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px "Noto Sans", sans-serif;
  border-radius: 10px;
}

.chat-container li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: "";
}

.chat-container li:after {
  position: absolute;
  top: 15px;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid;
}

.chat-container-message-enter-user {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: var(--font-color-default);
  background-color: var(--enter-user-box-color);
}

.chat-container-message-enter-user:before {
  right: -80px;
  background-image: url(icons/user-start.svg);
  background-size: 50px;
  border: 4px solid var(--enter-user-box-color);
}

.chat-container-message-enter-user:after {
  color: var(--enter-user-box-color);
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-container-message-exit-user {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: var(--font-color-default);
  background-color: var(--exit-user-box-color);
}

.chat-container-message-exit-user:before {
  left: -80px;
  background-image: url(icons/user-end.svg);
  background-size: 50px;
  border: 4px solid var(--exit-user-box-color);
}

.chat-container-message-exit-user:after {
  color: var(--exit-user-box-color);
  border-left: 15px solid transparent;
  left: -15px;
}

.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(80%, 1fr));
  gap: 0.5em;
}

.chat-window-message-ip {
  width: 100%;
  height: fit-content;
  font: 32px/48px "Noto Sans", sans-serif;
  background: none;
  color: var(--enter-user-box-color);
  border: 0;
  border-bottom: 1px solid var(--enter-user-box-color);
  outline: none;
}

.self-ip-address-span {
  width: 100%;
  height: 48px;
  font: 24px / 34px "Noto Sans", sans-serif;
  background: none;
  color: #757575;
  border: 0;
  outline: none;
}
